body{
    font-family: 'Otomanopee One', sans-serif;
    font-size: 20px;
}
#author-name{
    color:blueviolet;
}
small{
    display: block;
    text-align: center;
}
.first-section{
    display: flex;
    background-image: url(images/shapes/Frame\ 58.jpg);
    background-repeat: no-repeat;
    margin: 0;
    
}
.second-section{
    display: flex;
    background-image: url(images/shapes/Frame\ 59.jpg);
    background-repeat: no-repeat;
    margin: 0;

}
.third-section{
    text-align: center;
}
.fourth-section{
    display: inline-flex;
    margin-right: 7%;
}
.fourth-section img{
    width: 90%;
}
.fifth-section{
    display: inline-flex;
    box-shadow: 20px 20px 20px 20px gray;
   margin: 5% 20% 5% 20%;
    align-items: center;
    border-radius: 10px;
    border-image:;
}
.last-section{
    text-align: center;
    color: white;
    background-color: black;
}
.first-div-manage{
    width: 50%;
    padding: 100px 50px;
}
.second-div-manage img{
    width: 80%;
}
.third-div-manage{
 padding-left: 120px;
}
.fourth-div-manage{
    text-align: center;
    width: 50%;
    padding: 200px 50px;

}
.fourth-section-div{
    width: 30%;
    box-shadow: 10px 10px 10px gray;
    border-radius: 10px;
    padding-left: 7%;
    
}
.fifth-section-div{
    text-align: center;
    padding: 20px 2em;
}

nav{
    font-size: 2em;
    text-decoration: none;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,rgb(230, 8, 45));
    padding: 15px 30px;
    color: wheat;
    border-radius: 10px;
    margin: 30%;  
}
#my-name{
    color: red;
     text-decoration: none;
     font-size: 30px;
}

   
